<html>
	<head>
		<title>Sprint Dashboard</title>
	</head>

	<body>
		<div>
			Updated By: $username
			<br>
			email: $email
		</div>
		<hr>
		<h3><u>Updated sprint summary:</u></h3>
		<br>
		<div>
			<table width='1000'> 
				<tr bgcolor='#D8D8D8'>
					<td>Sprint</td>
					<td>Start Date</td>
					<td>End Date</td>
					<td>Freeze Date</td>
					<td>Project</td>
					<td>Group</td>
					
				</tr>
				<tr bgcolor='#FAFAFA'>
					<td>$version_name</td>
					<td>$updated_s_date</td>
					<td>$updated_e_date</td>
					<td>$updated_f_date</td>
					<td>$project_name</td>
					<td>$department_name</td>
					
				</tr>
			</table>
		</div>
		<hr>
		<h3><u>Original sprint summary:</u></h3>
		<br>
		<div>
			<table width='1000'>
				<tr bgcolor='#D8D8D8'>
					<td>Sprint</td>
					<td>Start Date</td>
					<td>End Date</td>
					<td>Freeze Date</td>
					<td>Project</td>
					<td>Group</td>
					
				</tr>
				<tr bgcolor='#FAFAFA'> 
					<td>$version_name</td>
					<td>$initially_s_date</td>
					<td>$initially_e_date</td>
					<td>$initially_f_date</td>
					<td>$project_name</td>
					<td>$department_name</td>
					
				</tr>
			</table>
		</div>
		<hr>
	</body>	
</html>