<html>
<head>
    <title>Sprint Dashboard</title>
</head>

<body>
<div>
    Updated By: $user_name
    <br>
    email: $user_email
</div>
<br>
<h3><u>Updated sprint summary:</u></h3>
<br>
<div>
    <table width='1000'>
        <tr bgcolor='#D8D8D8'>
            <td>Sprint</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Freeze Date</td>
            <td>Project</td>
            <td>Group</td>
            <td>Status</td>
        </tr>
        <tr bgcolor='#FAFAFA'>
            <td>$version_name</td>
            <td>$updated_s_date</td>
            <td>$updated_e_date</td>
            <td>$updated_f_date</td>
            <td>$project_name</td>
            <td>$department_name</td>
            <td>$updated_status</td>
        </tr>
    </table>
</div>
<br>
<h3><u>Original sprint summary:</u></h3>
<br>
<div>
    <table width='1000'>
        <tr bgcolor='#D8D8D8'>
            <td>Sprint</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Freeze Date</td>
            <td>Project</td>
            <td>Group</td>
            <td>Status</td>
        </tr>
        <tr bgcolor='#FAFAFA'>
            <td>$version_name</td>
            <td>$initially_s_date</td>
            <td>$initially_e_date</td>
            <td>$initially_date</td>
            <td>$project_name</td>
            <td>$department_name</td>
            <td>$initially_status</td>
        </tr>
    </table>
</div>

</body>
</html>