
table.tablesorter {
    font-size: 12px;

    width: 1024px;

}

table.tablesorter th {
    text-align: left;
    padding: 5px;

}

table.tablesorter td {
    padding: 5px;
}

table.tablesorter .even {
    background-color: #3D3D3D;
}

table.tablesorter .odd {
    background-color: #6E6E6E;
}

table.tablesorter .header {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 8px;
    height: auto;
}

table.tablesorter .headerSortUp {
    background-image: url(asc.png);
    background-repeat: no-repeat;
}

table.tablesorter .headerSortDown {
    background-image: url(desc.png);
    background-repeat: no-repeat;
}